<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show order</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body class="bg-light">
<div class="container">
    <header th:insert="blocks/saleheader :: saleheader"></header>
    <main>
        <h4 class="mb-3">Order information</h4>
        <div>
            <table class="table table-striped">

                <tbody>
                    <tr>
                        <td>Order Id:</td>
                        <td><span th:text="${order.id}"/></td>
                    </tr>
                    <tr>
                        <td>Customer:</td>
                        <td><span th:text="${order.customer.companyname}"/></td>
                    </tr>
                    <tr>
                        <td>Condition:</td>
                        <td><span th:text="${order.condition.title}"/></td>
                    </tr>
                    <tr>
                        <td>Receipt date:</td>
                        <td><span th:text="${order.receiptdate}"/></td>
                    </tr>
                    <tr>
                        <td>Ship date:</td>
                        <td><span th:text="${order.shipdate}"/></td>
                    </tr>
                    <tr>
                        <td>Responsible person:</td>
                        <td><span th:text="${order.person.name+' '+order.person.surname}"/></td>
                    </tr>
                <tbody/>
            </table>
            <br/>
            <form class="form-inline" th:method="GET" th:action="@{/sales/orders/{id}/edit(id=${order.id})}">
                <input type="submit" class="w-25 btn btn-primary btn-lg" value="Edit"/>
            </form>
            <form class="form-inline" th:method="DELETE" th:action="@{/sales/orders/{id}(id=${order.id})}">
                <input type="submit" class="w-25 btn btn-primary btn-lg" value="Delete"/>
            </form>
        </div>
    </main>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>




