<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Storage information</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body class="bg-light">
<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <main>
        <h4 class="mb-3">Storage information</h4>
        <div>
            <table class="table table-striped">

                <tbody>
                <tr>
                    <td>Condition Id:</td>
                    <td><span th:text="${storage.id}"/></td>
                </tr>
                <tr>
                    <td>Condition title:</td>
                    <td><span th:text="${storage.title}"/></td>
                </tr>
                <tr>
                    <td>Condition description:</td>
                    <td><span th:text="${storage.descr}"/></td>
                </tr>
                <tbody/>
            </table>
            <br/>
            <form class="form-inline" th:method="GET" th:action="@{/directories/storages/{id}/edit(id=${storage.id})}">
                <input type="submit" class="w-25 btn btn-primary btn-lg" value="Edit"/>
            </form>
            <form class="form-inline" th:method="DELETE" th:action="@{/directories/storages/{id}(id=${storage.id})}">
                <input type="submit" class="w-25 btn btn-primary btn-lg" value="Delete"/>
            </form>
        </div>
    </main>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>
