<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order conditions list</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body class="bg-light">
<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <main>
        <h4 class="mb-3">Order conditions list</h4>
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Condition id</th>
                    <th>Condition title</th>
                    <th>Condition description</th>
                </tr>
                </thead>
                <tbody>
                    <div th:each="cond : ${conditions}">
                        <tr>
                            <td><a class="link_list_row" th:href="@{/directories/conditions/{id}(id=${cond.id})}"
                                   th:text="${(cond.id)}">condition</a></td>
                            <td><a class="link_list_row" th:href="@{/directories/conditions/{id}(id=${cond.id})}"
                                   th:text="${(cond.title)}">condition</a></td>
                            <td><a class="link_list_row" th:href="@{/directories/conditions/{id}(id=${cond.id})}"
                                   th:text="${cond.descr}">condition</a></td>
                        </tr>
                    </div>
                <tbody/>
            </table>
            <br/>
            <form th:method="GET" th:action="@{/directories/conditions/new}">
                <input type="submit" class="w-25 btn btn-primary btn-lg" value="Create new condition"/>
            </form>
        </div>
    </main>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>
