<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Storage list</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body class="bg-light">
<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <main>
        <h4 class="mb-3">Storage list</h4>
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Storage id</th>
                    <th>Storage title</th>
                    <th>Storage description</th>
                </tr>
                </thead>
                <tbody>
                    <div th:each="stor : ${storages}">
                        <tr>
                            <td><a class="link_list_row" th:href="@{/directories/storages/{id}(id=${stor.id})}"
                                   th:text="${(stor.id)}">storage</a></td>
                            <td><a class="link_list_row" th:href="@{/directories/storages/{id}(id=${stor.id})}"
                                   th:text="${(stor.title)}">storage</a></td>
                            <td><a class="link_list_row" th:href="@{/directories/storages/{id}(id=${stor.id})}"
                                   th:text="${stor.descr}">storage</a></td>
                        </tr>
                    </div>
                <tbody/>
            </table>
            <br/>
            <form th:method="GET" th:action="@{/directories/storages/new}">
                <input type="submit" class="w-25 btn btn-primary btn-lg" value="Create new storage"/>
            </form>
        </div>
    </main>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>
