<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order editor</title>
  <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body class="bg-light">
<div class="container">
  <header th:insert="blocks/saleheader :: saleheader"></header>
  <main>
    <h4 class="mb-3">Order editor</h4>
    <div>
      <form th:action="@{/sales/orders/{id}(id=${order.id})}" th:method="PATCH" th:object="${order}">
        <div class="row g-5">
          <div class="col-sm-6">
            <label for="customer" class="form-label">Select customer:</label>
            <select id="customer" class="form-control" th:field="*{customer}" name="customer">
              <option value="">customers list</option>
              <option th:each="cust:${customers}"
                      th:value="${cust.id}"
                      th:text="${cust.surname+' '+cust.companyname}"></option>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}">customer error</div>
          </div>
          <div class="col-sm-6">
            <label for="condition" class="form-label">Select condition:</label>
            <select id="condition" class="form-control"  th:field="*{condition}" name="storage">
              <option value="">storage list</option>
              <option th:each="stor:${conditions}"
                      th:value="${stor.id}"
                      th:text="${stor.title}"></option>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('condition')}" th:errors="*{condition}">condition error</div>
          </div>
          <div class="col-md-4">
            <label for="person" class="form-label">Select person:</label>
            <select id="person" class="form-control" th:field="*{person}" name="person name">
              <option value="">persons list</option>
              <option th:each="person:${people}"
                      th:value="${person.id}"
                      th:text="${person.name+' '+person.surname}"></option>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('person')}" th:errors="*{person}">product error</div>
          </div>
          <div class="col-md-4">
            <label for="receiptdate"class="form-label">Receipt date: </label>
            <input type="date" class="form-control"  th:field="*{receiptdate}" id="receiptdate" placeholder="receipt date"/>
            <div style="color:red" th:if="${#fields.hasErrors('receiptdate')}" th:errors="*{receiptdate}">receipt date error</div>
          </div>
          <div class="col-md-4">
            <label for="shipdate"class="form-label">Ship date: </label>
            <input type="date" class="form-control"  th:field="*{shipdate}" id="shipdate" placeholder="shipdate date"/>
            <div style="color:red" th:if="${#fields.hasErrors('shipdate')}" th:errors="*{shipdate}">ship date error</div>
          </div>
<!--          <hr class="my-4">-->
<!--          <div class="col-md-3" th:object="${productGr}">-->
<!--            <label for="productGroup" class="form-label">Select product group:</label>-->
<!--            <select id="productGroup" class="form-control" th:field="*{id}" name="productGroup">-->
<!--              <option value="">product groups list</option>-->
<!--              <option th:each="pg:${productGroups}"-->
<!--                      th:value="${pg.id}"-->
<!--                      th:text="${pg.title}"></option>-->
<!--            </select>-->
<!--            &lt;!&ndash;                        <div style="color:red" th:if="${#fields.hasErrors('productGroup')}" th:errors="*{productGroup}">title error</div>&ndash;&gt;-->
<!--          </div>-->
<!--          <table class="table table-hover">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th>Pid</th>-->
<!--              <th>Title</th>-->
<!--              <th>Wholesale</th>-->
<!--              <th>Retail</th>-->
<!--              <th>Qty in stock</th>-->
<!--              <th>Stock</th>-->
<!--              <th>Price in order</th>-->
<!--              <th>Qty in order</th>-->
<!--              <th></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <div th:each="pis : ${productsInStock}">-->

<!--              <tr>-->
<!--                <td><a th:text="${(pis.product_id)}">product</a></td>-->
<!--                <td><a th:text="${(pis.ptitle)}">product</a></td>-->
<!--                <td><a th:text="${pis.pricewh}">product</a></td>-->
<!--                <td><a th:text="${pis.priceret}">product</a></td>-->
<!--                <td><a th:text="${pis.qtyinstorage}">product</a></td>-->
<!--                <td><a th:text="${pis.sttitle}">product</a></td>-->
<!--                <td> <input type="text" th:value="${pis.priceret}"/></td>-->
<!--                <td><select id="order_qty" name="order_qty">-->
<!--                  <option value="">available</option>-->
<!--                  <option th:each="i : ${#numbers.sequence( 1, pis.qtyinstorage)}"-->
<!--                          th:value="${i}"-->
<!--                          th:text="${i+' pcs'}"></option>-->
<!--                </select></td>-->
<!--                <td><a th:href="@{/sales/orders/add/{stid}/{oid}(stid=${pis.stitemid},oid=${order.id})}">Add to order</a></td>-->
<!--              </tr>-->

<!--            </div>-->
<!--          </tbody>-->
<!--          </table>-->

          <input type="submit" class="w-25 btn btn-primary btn-lg" value="Update order"/>
        </div>
      </form>
    </div>
  </main>
  <footer th:insert="blocks/footer :: footer"></footer>
</div>
<!--<script th:inline="javascript">-->
<!--  function selectProductGroup(){-->

<!--    var val = document.getElementById("productGroup").value;-->
<!--    var lnk = [[@{/sales/orders/{id}/edit/(id=${order.id})}]]+val;-->
<!--    var thv=[[${productGroup}]]-->
<!--       console.log(lnk);-->
<!--     console.log(val);-->
<!--    document.location.href=lnk;-->
<!--     console.log(thv);-->

<!--  }-->
<!--    var selPG = document.getElementById("productGroup");-->
<!--    selPG.addEventListener("change", selectProductGroup);-->
<!--</script>-->
</body>
</html>

<!---->
<!--<div th:each="pis : ${productsInStock}">-->
<!--  <tr>-->
<!--    <td><a class="link_list_row" th:href="@{/sales/orders/{id}(id=${pis.stitemid})}"-->
<!--           th:text="${(pis.product_id)}">product</a></td>-->
<!--    <td><a class="link_list_row" th:href="@{/sales/orders/{id}(id=${pis.stitemid})}"-->
<!--           th:text="${(pis.ptitle)}">product</a></td>-->
<!--    <td><a class="link_list_row" th:href="@{/sales/orders/{id}(id=${pis.stitemid})}"-->
<!--           th:text="${pis.pricewh}">product</a></td>-->
<!--    <td><a class="link_list_row" th:href="@{/sales/orders/{id}(id=${pis.stitemid})}"-->
<!--           th:text="${pis.priceret}">product</a></td>-->
<!--    <td><a class="link_list_row" th:href="@{/sales/orders/{id}(id=${pis.stitemid})}"-->
<!--           th:text="${pis.qtyinstorage}">product</a></td>-->
<!--    <td><a class="link_list_row" th:href="@{/sales/orders/{id}(id=${pis.stitemid})}"-->
<!--           th:text="${pis.sttitle}">product</a></td>-->
<!--    <td> <input type="text" class="link_list_row" th:value="${pis.priceret}"/></td>-->
<!--    <td><select class="link_list_row" id="order_qty" name="order_qty">-->
<!--      <option value="">available</option>-->
<!--      <option th:each="i : ${#numbers.sequence( 1, pis.qtyinstorage)}"-->
<!--              th:value="${i}"-->
<!--              th:text="${i+' pcs'}"></option>-->
<!--    </select></td>-->
<!--    <td><button onclick="document.location='page/new.html'">Add</button></td>-->
<!--  </tr>-->
<!--</div>-->