<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MyTitle</title>
</head>
<body>
<div>

  <table>
    <tr>
      <th>Product group</th>
      <th>Description</th>
    </tr>
    <tr th:each="el:${productGroups}">
      <td th:text="${el.title}">
      <td th:text="${el.descr}">
    </tr>
   </table>

</div>
<form id="add-prod-group" th:action="@{/productGroups}" th:method="post" th:object="${productGroup}">
  <label for="pgtitle">Input title: </label>
  <input type="text" th:field="*{title}" id="pgtitle" placeholder="Input title"/>
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
  <br/>
  <label for="descr">Input description: </label>
  <input type="text" th:field="*{descr}" id="descr" placeholder="Input product group description"/>
  <div style="color:red" th:if="${#fields.hasErrors('descr')}" th:errors="*{descr}">Description Error</div>
  <br/>
  <button type="submit">Add product group</button>
  <br/>
</form>

<h2>Add new product</h2>
<form id="add-prod" th:action="@{/productGroups?frm=1}" th:method="post" th:object="${product}">
  <select id="productGroup" name="productGroup">
    <option value="">product groups list</option>
    <option th:each="pg:${productGroups}"
            th:value="${pg.id}"
            th:text="${pg.title}"></option>
  </select>
  <br/>
  <label for="title">Input title: </label>
  <input type="text" th:field="*{title}" id="title" placeholder="title"/>
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>
  <br/>
  <label for="spec">Input specification: </label>
  <input type="text" th:field="*{spec}" id="spec" placeholder="specification"/>
  <div style="color:red" th:if="${#fields.hasErrors('spec')}" th:errors="*{spec}">spec error</div>
  <br/>
  <label for="size">Input size: </label>
  <input type="text" th:field="*{size}" id="size" placeholder="size"/>
  <div style="color:red" th:if="${#fields.hasErrors('size')}" th:errors="*{size}">size error</div>
  <br/>
  <label for="weight">Input weight: </label>
  <input type="text" th:field="*{weight}" id="weight" placeholder="weight"/>
  <div style="color:red" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">weight error</div>
  <br/>
  <label for="country">Input country: </label>
  <input type="text" th:field="*{country}" id="country" placeholder="country"/>
  <div style="color:red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">country error</div>
  <br/>
  <label for="manufacturer">Input manufacturer: </label>
  <input type="text" th:field="*{manufacturer}" id="manufacturer" placeholder="manufacturer"/>
  <div style="color:red" th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{country}">manufacturer error</div>
  <br/>


<!--  <input type="text" name="weight" placeholder="Input weight">-->
<!--  <input type="text" name="country" placeholder="Input country">-->
<!--  <input type="text" name="manufacturer" placeholder="Input manufacturer">-->
  <button form="add-prod" type="submit">Add product</button>
</form>


</body>
</html>